<h1>Store</h1>
<section>
    <ul>
        <li><%= button_to 'Order Pet'%></li> <!-- POST /store/order (Place an orer for a pet) -->
        <li><%= button_to 'Find Order by ID'%></li> <!-- GET /store/order/:id (Find puchase order by ID) -->
        <li><%= button_to 'Delete Order by ID'%></li> <!-- DELETE /store/order/:id (Delete purchase order by ID) -->
        <li><%= button_to 'Inventory'%></li> <!-- GET /store/inventory (Returns pet inventories by status) -->
    </ul>
</section>