<h1>Pet Store</h1>
<section>
    <ul>
        <div class="homepage_flex">
            <li><%= render partial: 'shared/pets' %></li>
            <li><%= render partial: 'shared/store' %></li>
        </div>
    </ul>
</section>