<h1 id="store-front-header">Pets For You</h1>

<div class="grid-container">
  <% @pet.sort.each do |pet| %>
    <%= link_to store_order_path(id: pet.id) do %>
      <div class="box">
        <div class="pet-box">
          <div class="pet-image-container"><%= image_tag(pet_image_path(pet), alt: 'Pet Image', class: 'pet-image') %></div>
            <div class="pet-details">
              <div><%= pet.name %></div>
              <div>Age: <%= pet.age %></div>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
