<h1>Inventory</h1>

<table>
    <th>Name</th>
    <th>Sold?</th>
        <% @pet.sort.each do |pet| %>
            <tr>
                <td><%= pet.name %></td>
                <td><%= pet.sold %></td>
             </tr>
        <% end %>
</table>
