<h2>Order</h2>
<section>
    <ul>
        <li><%= link_to 'Order Pet', target: '_blank' %></li> <!-- POST /store/order (Place an orer for a pet) -->
        <li><%= link_to 'Find Order by ID', target: '_blank' %></li> <!-- GET /store/order/:id (Find puchase order by ID) -->
        <li><%= link_to 'Delete Order by ID', target: '_blank' %></li> <!-- DELETE /store/order/:id (Delete purchase order by ID) -->
        <li><%= link_to 'Inventory', target: '_blank' %></li> <!-- GET /store/inventory (Returns pet inventories by status) -->
    </ul>
</section>