<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetStore</title>
    <%= stylesheet_link_tag 'style' %>

</head>
<body class="container">
    <h1>Brandon's Pet Store</h1>
    <section>
        <ul>
            <li>POST /pet (Add a new pet to the store)</li>
            <li>PUT /pet (Update an existing pet)</li>
            <li>GET /pet/:id (Retrieve a specific pet by ID)</li>
            <li>PUT /pet/:id (Update a specific pet by ID)</li>
            <li>DELETE /pet/:id (Delete a specific pet by ID)</li>
        </ul>
    </section>
    <footer>&copy; Brandon Kounse 2023</footer>
</body>
</html>