<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetStore</title>
    <%= stylesheet_link_tag 'style' %>

</head>
<body class="container">
    <h1>Brandon's Pet Store</h1>
    <section>
        <ul>
            <li>POST /store/order (Place an orer for a pet)</li>
            <li>GET /store/order/:id (Find puchase order by ID)</li>
            <li>DELETE /store/order/:id (Delete purchase order by ID)</li>
            <li>GET /store/inventory (Returns pet inventories by status)</li>
        </ul>
    </section>
    <footer>&copy; Brandon Kounse 2023</footer>
</body>
</html>