body {
    margin: 0.5em 2em;
}

ul {
    padding: 0;
    list-style-type: none;
}


table, th, tr, td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 0 0.5em 0 0.5em;
    text-align: left;
}

th, td {
    width: 5em;
    height: 2em;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1em;
}

.flash-margin {
    margin-bottom: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}

.box {
    height: 250px;
    width: 250px;
    border: solid 1px black;
    border-collapse: collapse;
    box-sizing: border-box;
    /* Below prevents 'double' borders between grid items */
    margin-top: -1px;
    margin-left: -1px;
}

#store-front-header {
    text-align: center;
}