h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.homepage_flex {
    display: flex;
    justify-content: center;
    gap: 10em;
}